* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: #043e4d;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.page-header {
  background: #499;
  padding: 30px;
  text-align: center;
  color: white;
}

.page-header h1 {
  font-size: 50px;
}

.page-header h3 {
  font-size: 25px;
}

footer {
  background-color: #466;
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
}

a {
  color: #f79ef7;
}

.section-header {
  font-size: 25px;
}

section {
  display: -webkit-flex;
  display: flex;
  padding: 50px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}
