* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: #043e4d;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.icons * {
  width: 150px;
  height: 150px;
  background: #9dbfc4;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}

.navbar {
  background-color: #7d681d !important;
  box-shadow: 0px 0px 4px black;
}

.navbar-brand {
  text-shadow: 1px 1px 4px black;
}

.page-header {
  background: #1c6a73;
  background-size: cover;
  padding: 30px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header h1 {
  font-size: 70px;
  text-shadow: 3px 3px 4px black;
}

.page-header h3 {
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: "DM Serif Display";
  text-shadow: 2px 2px 4px black;
}

footer {
  background-color: #04242b;
  margin-top: 40px;
  padding: 30px;
  color: white;
}

p, li {
  font-size: 20px;
  font-family: "Libre Franklin";
}

a {
  color: #f79ef7;
}

section {
  display: block;
  padding: 50px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}


/* Google Fonts */
.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

