:root {
  /* Color variables */
  --main-color: 4, 62, 77; /* #043e4d */
  --secondary-color: 28, 106, 115; /* #1c6a73 */
  --footer-color: #04242b;
  --accent-color: #7d681d;
  --accent-color-2: #705d24;
  --icon-color: #9dbfc4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: white;
  font-size: 20px;
  font-family: "Libre Franklin";
  background: linear-gradient(rgb(var(--main-color), 0.98), rgb(var(--main-color), 0.985)), url("../geometric-pattern-transparent.png") repeat;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.icons * {
  width: 150px;
  height: 150px;
  background: var(--icon-color);
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}

.navbar {
  background-color: var(--accent-color) !important;
  box-shadow: 0px 0px 4px black;
}

.navbar-brand {
  text-shadow: 1px 1px 4px black;
}

.page-header {
  background: linear-gradient(rgba(var(--secondary-color), 0.90), rgba(var(--secondary-color), 0.80), rgba(var(--secondary-color), 0.6), rgba(var(--secondary-color), 0.0));
  background-size: cover;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header h1 {
  font-size: 70px;
  text-shadow: 3px 3px 4px black;
}

.page-header h3 {
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: "DM Serif Display";
  text-shadow: 2px 2px 4px black;
}

footer {
  background-color: var(--footer-color);
  margin-top: 40px;
  padding: 30px;
}

p, li, .btn {
  font-size: 20px;
  font-family: "Libre Franklin";
}

a {
  color: var(--accent-color);
}

.btn {
  background: var(--accent-color);
  color: white;
}

.btn:hover, .btn:focus, .btn:focus-visible {
  background: var(--accent-color-2);
}

.form-control:focus {
  box-shadow: 0 0 0 .30rem var(--secondary-color);
}

section {
  display: block;
  padding: 50px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}


/* Google Fonts */
.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

